{{- /* Sitewide Organization + WebSite, plus per-page schema.
       The old site had JSON-LD on 7 of 29 pages; this makes it uniform. */ -}}
{{- if .IsHome -}}
<script type="application/ld+json">{{ (dict
  "@context" "https://schema.org" "@type" "Organization"
  "name" site.Title "url" site.BaseURL
  "logo" (absURL site.Params.logo)
  "telephone" site.Params.org.telephone
  "email" site.Params.org.email
  "address" (dict
    "@type" "PostalAddress"
    "streetAddress" site.Params.org.streetAddress
    "addressLocality" site.Params.org.addressLocality
    "addressRegion" site.Params.org.addressRegion
    "postalCode" site.Params.org.postalCode
    "addressCountry" site.Params.org.addressCountry)
  "contactPoint" (dict
    "@type" "ContactPoint"
    "telephone" site.Params.org.telephone
    "contactType" "sales"
    "email" site.Params.org.email
    "areaServed" "US" "availableLanguage" "English")
  "sameAs" (slice "https://www.linkedin.com/company/enigma-vault/" "https://x.com/NoPII_HQ")
) | jsonify | safeJS }}</script>
<script type="application/ld+json">{{ (dict
  "@context" "https://schema.org" "@type" "WebSite"
  "name" site.Title "url" site.BaseURL
  "publisher" (dict "@type" "Organization" "name" site.Title)
) | jsonify | safeJS }}</script>
{{- end -}}
{{ partial "schema/breadcrumb.html" . }}
{{ partial "schema/article.html" . }}
{{ partial "schema/faq.html" . }}
{{ partial "schema/software.html" . }}
