{{- /* SoftwareApplication + AggregateOffer, driven by page frontmatter.
       Restores the product schema the old site had on its product pages. */ -}}
{{- with .Params.software -}}
{{- $app := dict
  "@context" "https://schema.org"
  "@type" "SoftwareApplication"
  "name" .name
  "applicationCategory" (.category | default "SecurityApplication")
  "operatingSystem" (.os | default "Cloud, Web-based")
  "url" $.Permalink
  "description" ($.Description | default site.Params.description)
  "provider" (dict "@type" "Organization" "name" site.Title "url" site.BaseURL)
-}}
{{- with .offer -}}
  {{- $app = merge $app (dict "offers" (dict
      "@type" "AggregateOffer"
      "lowPrice" (printf "%v" .low)
      "highPrice" (printf "%v" .high)
      "priceCurrency" (.currency | default "USD")
      "offerCount" (printf "%v" (.count | default 3))
      "url" (absURL (.url | default "/pricing/")))) -}}
{{- end -}}
<script type="application/ld+json">{{ $app | jsonify | safeJS }}</script>
{{- end -}}
